{% extends 'base.html' %}
{% block title %}Contact Us{% endblock %}

{% block content %}
<!-- navbar -->
<section id="header">
  <a href="#"><img src="../static/imgs/logo.jpg" class="logo" width="50px" height="55px" alt="" /></a>
  <div>
    <ul id="navbar">
      <li><a href="{{ url_for('views.home')}}">Home</a></li>
      <li><a href="{{ url_for('views.shop')}}">Shop</a></li>
      <li><a href="{{ url_for('views.about')}}">About</a></li>
      <li><a class="active" href="{{ url_for('views.contact_us')}}">Contact Us</a></li>
      <li id="lg-bag">
        <a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a>
      </li>
      <li><a href="{{ url_for('auth.login')}}" style="padding-left: 10px">Log In</a></li>
      <li><a href="{{ url_for('auth.logout')}}" style="padding-left: 10px;">Logout</a></li>
      <a href="#" id="close"><i class="fa-solid fa-x"></i></a>
    </ul>
  </div>
  <div id="mobile">
    <a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a>
    <i id="bar" class="fas fa-outdent"></i>
  </div>
</section>

<!-- carousel slider -->
<section id="page-header" class="contact-us-header">
  <h2>#Contact_Us</h2>
  <p>Lorem ipsum dolor sit amet.</p>
</section>

<!-- main content -->
<section id="contact-details" class="section-p1">
  <div class="details">
    <span>GET IN TOUCH</span>
    <h2>Visit us in our humble store, We would be honored.</h2>
    <div>
      <li>
        <i class="fa-solid fa-map-location-dot"></i>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
      </li>
      <li>
        <i class="fa-solid fa-envelope"></i>
        <p>contact@example.com</p>
      </li>
      <li>
        <i class="fa-solid fa-phone"></i>
        <p>+123456789</p>
      </li>
      <li>
        <i class="fa-solid fa-clock"></i>
        <p>8:00 am / 5:00 pm.</p>
      </li>
    </div>
  </div>
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3435.6748013872902!2d31.01194117436289!3d30.55849069403491!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f7d6f272085a4d%3A0x68c1dc6f5830f27e!2z2YXZg9iq2KjYqSDYs9mI2KzZiiAtIFNvankgU3RhdGlvbmVyeQ!5e0!3m2!1sen!2seg!4v1701807883410!5m2!1sen!2seg"
      width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>
<!-- footer  -->
<hr />
<footer class="section-p1">
  <div class="cols">
    <img class="logo" src="../static/imgs/logo.jpg" width="50px" height="55px" alt="" />
    <h4>Contact</h4>
    <p>
      <strong>Address:</strong> Lorem ipsum dolor sit amet consectetur
      adipisicing elit.
    </p>
    <p><strong>Phone:</strong> +123456789</p>
    <p><strong>Email:</strong> Example@Example.com</p>
    <div class="follow">
      <h4>Follow Us</h4>
      <div class="icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </div>
  </div>
  <div class="cols">
    <h4>About</h4>
    <a href="#">About Us</a>
    <a href="#">Delivery Information</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Terms & Conditions</a>
    <a href="#">Contact Us</a>
  </div>
  <div class="cols">
    <h4>My Account</h4>
    <a href="#">Sign In</a>
    <a href="#">View Cart</a>
    <a href="#">My Wishlist</a>
    <a href="#">Track My Order</a>
    <a href="#">Help</a>
  </div>
  <div class="cols payment">
    <h4>Payment methodes</h4>
    <p>Secured Payment Gateways</p>
    <img src="../static/imgs/payment.png" height="50px" alt="" />
  </div>

  <div class="copyright">
    <p>&copy; 2023, All rights reserved</p>
  </div>
</footer>

<script src="../static/js/script.js"></script>
<script src="../static/bootstrap/js/bootstrap.js"></script>
{% endblock %}