{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<!-- navbar -->
<section id="header">
  <a href="#"><img src="../static/imgs/logo.png" class="logo" width="50px" height="55px" alt=""></a>
  <div>
    <ul id="navbar">
      <li><a class="active" href="{{url_for('views.home')}}">Home</a></li>
      <li><a href="{{ url_for('views.shop')}}">Shop</a></li>
      <li><a href="{{ url_for('views.about')}}">About</a></li>
      <li><a href="{{ url_for('views.contact_us')}}">Contact Us</a></li>
      <li id="lg-bag"><a href="{{ url_for('views.cart')}}"><i class="fa-solid fa-cart-shopping"></i></a></li>
      <li><a href="{{ url_for('auth.login')}}" style="padding-left: 10px;">Login</a></li>
      <li><a href="{{ url_for('auth.logout')}}" style="padding-left: 10px;">Logout</a></li>
      <a href="#" id="close"><i class="fa-solid fa-x"></i></a>
    </ul>
  </div>
  <div id="mobile">
    <a href="{{ url_for('views.cart')}}"><i class=" fa-solid fa-cart-shopping"></i></a>
    <i id="bar" class="fas fa-outdent"></i>
  </div>
</section>

<!-- carousel slider -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="../static/imgs/slider/man standing in city light.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../static/imgs/slider/wallpaperflare.com_wallpaper (1).jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../static/imgs/slider/wallpapersden.com_anime-naruto-hd-2023-ai_1920x1080.jpg" class="d-block w-100"
        alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- featured products -->
<section id="product1" class="section-p1">
  <h2>Featured Products</h2>
  <p>check some of our latest products</p>
  <div class="pro-container">
    {% for product in featured %}
    <a href="{{ url_for('views.sproduct', id=product.id)}}" style="text-decoration:none; color:black">
      <div class="pro">
        <img src="../static/images_db/{{ product.image }}" alt="">
        <div class="des">
          <span>harry potter</span>
          <h5>{{ product.name }}</h5>
          <h4>{{ product.price }} L.E</h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
      </div>
    </a>
    {% endfor %}
    <!-- banner -->
    <section id="banner" class="section-m1">
      <h4>Big sale</h4>
      <h2>Up to <span>50% off</span> - On All Books</h2>
      <button class="normal">Explore more</button>
    </section>

    <!-- Heat -->
    <section id="product1" class="section-p1">
      <h2>Heat</h2>
      <p>check out some of our most sold items</p>
      <div class="pro-container">
        <div class="pro">
          <img src="../static/imgs/products/f1.jpg" alt="">
          <div class="des">
            <span>harry potter</span>
            <h5>harry potter: And The Half-Blood Prince</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$20</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>
        <div class="pro">
          <img src="../static/imgs/products/f1.jpg" alt="">
          <div class="des">
            <span>harry potter</span>
            <h5>harry potter: And The Half-Blood Prince</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$20</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>
        <div class="pro">
          <img src="../static/imgs/products/f1.jpg" alt="">
          <div class="des">
            <span>harry potter</span>
            <h5>harry potter: And The Half-Blood Prince</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$20</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>
        <div class="pro">
          <img src="../static/imgs/products/f1.jpg" alt="">
          <div class="des">
            <span>harry potter</span>
            <h5>harry potter: And The Half-Blood Prince</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$20</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>
        <div class="pro">
          <img src="../static/imgs/products/f1.jpg" alt="">
          <div class="des">
            <span>harry potter</span>
            <h5>harry potter: And The Half-Blood Prince</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$20</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>
        <div class="pro">
          <img src="../static/imgs/products/f1.jpg" alt="">
          <div class="des">
            <span>harry potter</span>
            <h5>harry potter: And The Half-Blood Prince</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$20</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>
        <div class="pro">
          <img src="../static/imgs/products/f1.jpg" alt="">
          <div class="des">
            <span>harry potter</span>
            <h5>harry potter: And The Half-Blood Prince</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$20</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>
        <div class="pro">
          <img src="../static/imgs/products/f1.jpg" alt="">
          <div class="des">
            <span>harry potter</span>
            <h5>harry potter: And The Half-Blood Prince</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$20</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>
      </div>
    </section>

    <!-- banners & text banners -->
    <section id="sm-banner" class="section-p1">
      <div class="banner-box">
        <h4>Latest Arrivales</h4>
        <h2>Harry Potter Full Collection</h2>
        <span>Get The Full Collection NOW With an Amazimg Deal</span>
        <button class="white">Learn More</button>
      </div>
      <div class="banner-box banner-box2">
        <h4>Latest Arrivales</h4>
        <h2>Naruto & Naruto shippuden Manga</h2>
        <span>Get The Full Collection NOW With an Amazimg Deal</span>
        <button class="white">Learn More</button>
      </div>
    </section>

    <!-- text banners -->
    <section id="banner3">
      <div class="banner-box">
        <h2>Office Equipment</h2>
        <h3>Pens & Papper etc.</h3>
      </div>
      <div class="banner-box banner-box2">
        <h2>School Supplies</h2>
        <h3>Pencils & Erasers etc.</h3>
      </div>
      <div class="banner-box banner-box3">
        <h2>Perfumes</h2>
        <h3>Men & women's Perfume</h3>
      </div>
    </section>

    <!-- footer  -->
    <hr>
    <footer class="section-p1">

      <div class="cols">
        <img class="logo" src="../static/imgs/logo.png" width="50px" height="55px" alt="">
        <h4>Contact</h4>
        <p><strong>Address:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p><strong>Phone:</strong> +123456789</p>
        <p><strong>Email:</strong> Example@Example.com</p>
        <div class="follow">
          <h4>Follow Us</h4>
          <div class="icon">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
          </div>
        </div>
      </div>
      <div class="cols">
        <h4>About</h4>
        <a href="#">About Us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact Us</a>
      </div>
      <div class="cols">
        <h4>My Account</h4>
        <a href="#">Sign In</a>
        <a href="#">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a>
        <a href="#">Help</a>
      </div>
      <div class="cols payment">
        <h4>Payment methodes</h4>
        <p>Secured Payment Gateways</p>
        <img src="../static/imgs/payment.png" height="50px" alt="">
      </div>

      <div class="copyright">
        <p>&copy; 2023, All rights reserved</p>
      </div>
    </footer>
    {% endblock %}