<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="../static/styles/login.css" />
    <title>Sojy</title>
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <script>register</script>
    <div class="alert">
        <p>
            <i class="fa-solid fa-triangle-exclamation"></i>
            {{ message }}
        </p>
        <p class="end">
            <a href=""><i class="fa-solid fa-x"></i></a>
        </p>
    </div>
    {% else %}
    <div class="success">
        <p>
            <i class="fa-regular fa-circle-check"></i>
            {{ message }}
        </p>
        <p class="end">
            <a href=""><i class="fa-solid fa-x"></i></a>
        </p>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn" onclick="login()">
                    Log In
                </button>
                <button type="button" class="toggle-btn" onclick="register()">
                    Register
                </button>
            </div>
            <form method="POST" class="input-group" id="login" action="/login">
                <input type="email" class="input-field" name="email" id="email" placeholder="User email" required>
                <input type="password" class="input-field" name="password" id="password" placeholder="Enter password"
                    required>
                <input type="checkbox" class="checkbox"><span>Remember Password</span>
                <button type="submit" class="submit-btn">log in</button>
            </form>
            <form method="POST" action="/register" class="input-group" id="register">
                <input type="email" class="input-field" name="reg_email" id="reg_email" placeholder="Email address"
                    required>
                <input type="password" class="input-field" name="password1" id="password1" placeholder="Enter password"
                    required>
                <input type="password" class="input-field" name="password2" id="password2"
                    placeholder="Confirm password" required>
                <button type="submit" class="submit-btn">Register</button>


            </form>

        </div>
    </div>

    <script>
        var x = document.getElementById("login");
        var y = document.getElementById("register");
        var z = document.getElementById("btn");

        function register() {
            x.style.left = "-400px"
            y.style.left = "55px"
            z.style.left = "110px"
        }

        function login() {
            x.style.left = "50px"
            y.style.left = "450px"
            z.style.left = "0px"
        }

    </script>
    {% if messages %}
    <div onload="register()"></div>
    {% endif %}

</body>

</html>