{% extends 'base.html' %}
{% block title %}Products{% endblock %}


{% block content %}
<!-- navbar -->
<section id="header">
  <a href="#"><img src="../static/imgs/logo.png" class="logo" width="50px" height="55px" alt=""></a>
  <div>
    <ul id="navbar">
      <li><a href="{{url_for('views.home')}}">Home</a></li>
      <li><a class="active" href="shop.html">Shop</a></li>
      <li><a href="{{ url_for('views.about')}}">About</a></li>
      <li><a href="{{ url_for('views.contact_us')}}">Contact Us</a></li>
      <li id="lg-bag"><a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
      <li><a href="{{ url_for('auth.login')}}" style="padding-left: 10px;">Login</a></li>
      <li><a href="{{ url_for('auth.logout')}}" style="padding-left: 10px;">Logout</a></li>
      <a href="#" id="close"><i class="fa-solid fa-x"></i></a>
    </ul>
  </div>
  <div id="mobile">
    <a href="{{ url_for('views.cart')}}"><i class="fa-solid fa-cart-shopping"></i></a>
    <i id="bar" class="fas fa-outdent"></i>
  </div>
</section>

<!-- carousel slider -->
<section id="page-header">
  <h2>#buynow</h2>
  <p>With The Comfort Of Your Home</p>
</section>

<!-- featured products -->
<section id="product1" class="section-p1">
  <div class="pro-container">
    {% for product in products %}
    <a href="{{ url_for('views.sproduct', id=product.id)}}" style="text-decoration:none; color:black">
      <div class="pro">
        <img src="../static/images_db/{{ product.image }}" alt="">
        <div class="des">
          <span>Books</span>
          <h5>{{ product.name }}</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>${{ product.price }}</h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
      </div>
    </a>
    {% endfor %}
</section>

<!-- navigation -->
<section id="pagination" class="section-p1">
  <a href="#">1</a>
  <a href="#">2</a>
  <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
</section>

<!-- footer  -->
<hr>
<footer class="section-p1">

  <div class="cols">
    <img class="logo" src="../static/imgs/logo.png" width="50px" height="55px" alt="">
    <h4>Contact</h4>
    <p><strong>Address:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <p><strong>Phone:</strong> +123456789</p>
    <p><strong>Email:</strong> Example@Example.com</p>
    <div class="follow">
      <h4>Follow Us</h4>
      <div class="icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </div>
  </div>
  <div class="cols">
    <h4>About</h4>
    <a href="#">About Us</a>
    <a href="#">Delivery Information</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Terms & Conditions</a>
    <a href="#">Contact Us</a>
  </div>
  <div class="cols">
    <h4>My Account</h4>
    <a href="#">Sign In</a>
    <a href="#">View Cart</a>
    <a href="#">My Wishlist</a>
    <a href="#">Track My Order</a>
    <a href="#">Help</a>
  </div>
  <div class="cols payment">
    <h4>Payment methodes</h4>
    <p>Secured Payment Gateways</p>
    <img src="../static/imgs/payment.png" height="50px" alt="">
  </div>

  <div class="copyright">
    <p>&copy; 2023, All rights reserved</p>
  </div>
</footer>
{% endblock %}